.minter {
    background-image: linear-gradient(to right, rgb(190, 24, 93),  rgba(124, 58, 237));
    height: 300px;
}

.confirm-text {
    color: rgb(53, 240, 209);
    font-weight: bold;
    cursor: pointer;
    border: solid;
    border-color: rgb(53, 240, 209);
    border-radius: 9999px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: rgba(45, 11, 90);
}

.confirm-text:hover{
    color: rgba(45, 11, 90);
    background-color: rgb(53, 240, 209);
}

.fadeInDown {
    -webkit-animation-name: fadeindown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }
  
  @keyframes fadeInDown {
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
    }
  
    100% {
      opacity: 1;
      -webkit-transform: none;
      transform: none;
    }
  }