.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    padding-left: 3%;
    padding-right: 5%;
}

.wallet {
    cursor: pointer;
    border: solid;
    border-color: rgb(53, 240, 209);
    border-radius: 9999px;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.wallet:hover {
    background-color: rgb(53, 240, 209);
}

.text {
    color: rgba(45, 11, 90);
    font-weight: bold;
}

.text:hover{
    color: rgb(249, 248, 250);
}

.title {
   border: solid;
   border-color: rgb(53, 240, 209);
   border-radius: 9999px;
   padding-left: 5%;
   padding-right: 5%;
   padding-top: 5px;
   padding-bottom: 5px;
}

.no-wallet {
    display: none;
}

@media only screen and (max-width: 768px) {
  .wallet {
      display: none;
  }

  .no-wallet-desktop {
      display: none;
  }

  .no-wallet {
      display: block;
      padding-left: 5%;
      padding-right: 5%;
  }
}
